@media only screen and (min-width: 768px) and (max-width: 992px){
    footer {
        width: 100%;
        background-color: #7f7770;
        padding-top: 336px;
        font-family: open_sansregular;
        height: 832px;
    }

    footer > div {
        display: inline-block;
        vertical-align: top;
    }

    footer > div:nth-of-type(1) {
        width: 32.5%;
        margin-left: 5.4%;
    }

    footer > div:nth-of-type(1) > h5 {
        font-size: 1.97rem;
        color: white;
        margin-bottom: 20px;
    }

    footer > div:nth-of-type(1) > p {
        color: white;
        font-size: 1.48rem;
    }

    footer > div:nth-of-type(2) {
        width: 14%;
        margin-left: 12%;
    }

    footer > div:nth-of-type(2) > span {
        display: block;
        color: white;
        text-transform: capitalize;
        font-size: 1.48rem;
        margin-bottom: 5px;
        transition: all 300ms linear;
    }

    footer > div:nth-of-type(3) {
        width: 14%;
        margin-left: 3%;
    }

    footer > div:nth-of-type(3) > span {
        display: block;
        color: white;
        text-transform: capitalize;
        font-size: 1.48rem;
        margin-bottom: 5px;
        transition: all 300ms linear;
    }

    footer > div:nth-of-type(4) {
        width: 14%;
        margin-left: 3%;
    }

    footer > div:nth-of-type(4) > span {
        display: block;
        color: white;
        text-transform: capitalize;
        font-size: 1.48rem;
        margin-bottom: 5px;
        transition: all 300ms linear;
    }

    footer > div > span:nth-of-type(1) {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 20px;
        transition: all 300ms linear;
    }

    footer > div > span:hover {
        cursor: pointer;
        color: #e2a355;
    }
}